<div>
    <form action="/" method="post">
        <a href="Add-User" class="add"><span> New User
            <i class="fa-sharp fa-solid fa-user-plus"></span></i>
    </a>
        <table class="table">
            <thead class="thead text-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>@Email</th>
                    <th>Gender</th>
                    <th>City</th>
                    <th>Action</th>
                </tr>
            </thead>
            <!-- <tbody>
                <tr>
                    <td>1</td>
                    <td>Akash</td>
                    <td>akashgahlot1926@gmail.com</td>
                    <td>Male</td>
                    <td>Meerut</td>
                    <td><a href="/updateUser" class="btn border-shadow"><span class="text-gradient"><i
                                    class="fa-solid fa-pen"></i></span></a>
                        <a href="/deleteUser" class="btn border-shadow"><span class="text-gradient">
                                <i class="fa-solid fa-user-minus"></i>
                            </span></a>
                    </td>
                </tr>
            </tbody> -->
        </table>
    </form>
</div>